body{
	padding: 16px;
	margin: 0;
	background-color: #AAA;
}
em{
	color: #a63;
}
#content{
	padding: 16px;
	background-color: #FFF;
}

.dnone{
	display: none;
}

.azerty{
	boder: 2px solid red;
}

.assets_container{
	border: 3px dotted #000;
	padding: 16px;
	float: left;
}
.clear{
	clear: both;
}

 /*
 * keyCell
*/
input[type="text"]:hover{
	border-color: #0ff;
	background-color: #aff;
	cursor: pointer;
}

input[type="text"]:focus{
	border-color: #f00;
	background-color: #f66;
	cursor: pointer;
}

 /*
 * Key
*/
.key_line{}
.key_line:nth-child(2){
	margin-left: 34px;}
.key_line:nth-child(3){
	margin-left: 66px;}
.key_line:nth-child(4){
	margin-left: 100px;}

.key_container{
	position: relative;
	display: inline-block;
	height: 64px;
	width: 64px;
	margin-bottom: 4px;}
	.key_container:hover > .key{
		background-color: #00f;}
	.key_container:active > .key{
		background-color: #f00;}
	.key_container:not(:first-child){
		margin-left: 4px;}
	.key_container:last-child{
		clear: both;}
.key{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 64px;
	height: 64px;
	line-height: 64px;
	vertical-align: middle;
	text-align: center;
	font-size: 32px;
	border: 1px solid #000;
	pointer-events: none;
	background-color: #444;
	color: #fff;
}

.key_fileinput{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;}
input[type="file"]{
	height: 64px;
	width: 64px;
	background-color: #ffa;
	border: 3px dashed red;
	opacity: 0;}
	input[type="file"]:hover{
		background-color: #aff;
		border-color: #00f;
		cursor: pointer;
		opacity: 0;}
	input[type="file"]:focus{
		background-color: #faa;
		border: 3px solid #f00;
		opacity: 0;}

#overlay{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}