body{
	padding: 16px;
	margin: 0;
	background-color: #AAA;}
	#content{
		padding: 16px;
		background-color: #FFF;}
em{
	color: #a63;
}

 /*
 * Line of keys
*/
.key_line{}
.key_line:nth-child(2){
	margin-left: 34px;}
.key_line:nth-child(3){
	margin-left: 66px;}
.key_line:nth-child(4){
	margin-left: 100px;}

 /*
 * The container of the key, required parent for .key animations
*/
.key_container{
	position: relative;
	display: inline-block;
	height: 64px;
	width: 64px;
	margin-bottom: 4px;}
	.key_container:not(:first-child){
		margin-left: 4px;}
	.key_container:last-child{
		clear: both;}
 /*
 * Keyboard key
*/
.key{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 64px;
	height: 64px;
	line-height: 64px;
	vertical-align: middle;
	text-align: center;
	font-size: 32px;
	border: 1px solid #000;
	pointer-events: none;
	background-color: #444;
	color: #fff;}
	.key_container:hover > .key{
		background-color: #00f;}
	.key_container:active > .key{
		background-color: #f00;}
 /*
 * Don't rename that class without renoming it in the JS file
*/
.key_fileinput{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;}
input[type="file"]{
	height: 64px;
	width: 64px;
	background-color: #ffa;
	border: 3px dashed red;
	opacity: 0;}
	input[type="file"]:hover{
		background-color: #aff;
		border-color: #00f;
		cursor: pointer;
		opacity: 0;}
	input[type="file"]:focus{
		background-color: #faa;
		border: 3px solid #f00;
		opacity: 0;}