body{
	padding: 16px;
	margin: 0;
	background-color: #AAA;
}
em{
	color: #a63;
}
#content{
	padding: 16px;
	background-color: #FFF;
}

.dnone{
	display: none;
}

.azerty{
	boder: 2px solid red;
}

.assets_container{
	border: 3px dotted #000;
	padding: 16px;
	float: left;
}
.clear{
	clear: both;
}

 /*
 * keyCell
*/
input[type="text"]:hover{
	border-color: #0ff;
	background-color: #aff;
	cursor: pointer;
}

input[type="text"]:focus{
	border-color: #f00;
	background-color: #f66;
	cursor: pointer;
}

 /*
 * input files
*/
input[type="file"]{
	padding: 32px;
	background-color: #ffa;
	border: 3px dashed red;
}
input[type="file"]:hover{
	background-color: #aff;
	border-color: #00f;
	cursor: pointer;
}
input[type="file"]:focus{
	background-color: #faa;
	border: 3px solid #f00;
}

 /*
 * tableContainer
*/
table{
}
table tbody tr td{
	padding: 2px;
}
table tbody tr:nth-child(odd){
	background-color: #fda;
}
table tbody tr:nth-child(even){
	background-color: #ffa;
}
table tbody tr td input[type="text"]{
	width: 64px;
}





#overlay{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
}